<div class="dashboard-container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#about">About</a></li>
    <li><a data-toggle="tab" href="#practice">Area of Practice</a></li>
    <li><a data-toggle="tab" href="#testimonials">Testimonials</a></li>
    <li><a data-toggle="tab" href="#home-page">Home Page</a></li>

  </ul>
  <div class="tab-content">
    <div id="about" class="tab-pane fade in active">
      <%= render "about" %>
    </div>
    <div id="practice" class="tab-pane fade">
      <%= render "area-of-practice" %>
    </div>
    <div id="testimonials" class="tab-pane fade">
      <%= render "testimonials" %>

    </div>

    <div id="home-page" class="tab-pane fade">
      <%= render "home-page" %>
    </div>
  </div>
</div>
