<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>form: <%= @email.email_address %></h3>
    <p>
      <%= @email.email_content %>
    </p>
  </body>
</html>
