<!--full width carosel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "office_photos/_MG_7672.jpg", class: "carousel-image" %>
      <div class="carousel-caption">
        <div class="full-width text-center">
          <div class="carousel-text">
            <h1>Results</h1>
            <h3>A proven track record, dedicated to get the job done.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "office_photos/_MG_7686.jpg", class: "carousel-image" %>
      <div class="carousel-caption">
        <div class="full-width text-center">
          <div class="carousel-text">
            <h1>Open</h1>
            <h3>Friendly and compassionate, I care about my clients.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "office_photos/_MG_7649.jpg", class: "carousel-image" %>
      <div class="carousel-caption">
        <div class="full-width text-center">
          <div class="carousel-text">
            <h1>Responsive</h1>
            <h3>I work fast and respond quickly, keeping you informed throughout the entire process.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container-fluid">
  <div class="row home-headers">
    <div class="col-md-3 first-home">
      <h1 class="feature-title">Heading</h1>
      <hr class="feature-divider-home">
      <ul class="feature-list">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
    <div class="col-md-3 second-home">
      <h1 class="feature-title">Heading</h1>
      <hr class="feature-divider-home">
      <ul class="feature-list">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
    <div class="col-md-3 third-home">
      <h1 class="feature-title">Heading</h1>
      <hr class="feature-divider-home">
      <ul class="feature-list">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
    <div class="col-md-3 fourth-home">
      <h1 class="feature-title">Heading</h1>
      <hr class="feature-divider-home">
      <ul class="feature-list">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
$('.carousel').carousel({
  // un-comment below line to make it always scroll
  // pause: "false"

  // make it never scroll, useful for styling
  interval: false
});
</script>
