<div class="container-flex">
  <div class="row-flex">
    <h1 class="main-title fade-in one">When life gives you lemons</h1>
    <h2 class="sub-title fade-in two">Call 416-231-6555 Ext: 241 and we will help you get through this.</h2>
  </div>
  <div class="home-footer">
    <p class="footer-text">
      ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
    </p>
  </div>
</div>
