
<div class="map-row">
  <div id="map">

  </div>
  <div class="location-box">
    <div class="location-text">
      <h2>Pierre Sicco</h2>
      <h2>5464 Dundas St. W., Suite 200</h2>
      <h2>Toronto, Ontario M9B 1B4</h3>
      <h2>Phone (416) 231-6555 Ext: 241</h2>
    </div>
  </div>
  <div class="home-footer">
    <p class="footer-text">
      ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
    </p>
  </div>
</div>

<script type="text/javascript">
$(function() {

  var $body = $(document);
  $body.bind('scroll', function() {
      // "Disable" the horizontal scroll.
      if ($body.scrollLeft() !== 0) {
          $body.scrollLeft(0);
      }
  });

});
</script>
