<div class="container-fluid container-area">
  <div class="row map-row">
    <div class="col-lg-6 img-top-col">
      <%= image_tag "office_photos/_MG_7672.jpg", :class => "img-top" %>
    </div>
    <div class="col-lg-6 testimonial-text">
      <div class="fade-in one">
        <select id="name" name="name" class="form-control">
          <option value="1" name="first">one</option>
          <option value="2" name="second">two</option>
          <option value="3" name="third">three</option>
        </select>
        <div class="option-1">
          <h3 class="testimonial-paragraph">1 Wow, Pierre is such a nice guy. I don't think I know anyone better, and his work with law! Crazy. Sometimes I sit and think, why can't I be more like Pierre? He's a lawyer for crying out loud, A LAWYER! All I can do is just sit here and type code.</h3>
          <h3 class="testimonial-paragraph">This is an example of another paragraph. stuff could go here</h3>
          <h4 class="testimonial-writer">Evan, Shabsove</h4>
        </div>
        <div class="option-2">
          <h3 class="testimonial-paragraph">2 Wow, Pierre is such a nice guy. I don't think I know anyone better, and his work with law! Crazy. Sometimes I sit and think, why can't I be more like Pierre? He's a lawyer for crying out loud, A LAWYER! All I can do is just sit here and type code.</h3>
          <h3 class="testimonial-paragraph">This is an example of another paragraph. stuff could go here</h3>
          <h4 class="testimonial-writer">Evan, Shabsove</h4>
        </div>
        <div class="option-3">
          <h3 class="testimonial-paragraph">3 Wow, Pierre is such a nice guy. I don't think I know anyone better, and his work with law! Crazy. Sometimes I sit and think, why can't I be more like Pierre? He's a lawyer for crying out loud, A LAWYER! All I can do is just sit here and type code.</h3>
          <h3 class="testimonial-paragraph">This is an example of another paragraph. stuff could go here</h3>
          <h4 class="testimonial-writer">Evan, Shabsove</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>

<script type="text/javascript">
  $(function(){
    $('#name').on("change", function(){
      if ($(this).val() === '1') {
        $('.option-2').css({
          display: 'none'
        });
        $('.option-3').css({
          display: 'none'
        });
        $('.option-1').fadeIn(2000);
      } else if ($(this).val() === '2') {
        $('.option-1').css({
          display: 'none'
        });
        $('.option-3').css({
          display: 'none'
        });
        $('.option-2').fadeIn(2000);
      } else if ($(this).val() === '3') {
          $('.option-1').css({
            display: 'none'
        });
        $('.option-2').css({
          display: 'none'
        });
        $('.option-3').fadeIn(2000);
      };
    });
  });
</script>
