<div class="container-fluid container-area">
  <div class="row map-row">
    <div class="col-lg-6 img-top-col">
      <%= image_tag "cherry.jpg", :class => "img-top" %>
    </div>
    <div class="col-lg-6 testimonial-text">
      <div class="fade-in one">
        <h1>Thank you for reaching out.</h1>
        <h3>We will reply back to you as soon as we can, have a great day!</h3>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>
