<div class="container-fluid about-container">
  <div class="row">
    <div class="col-lg-6 image-div">
      <%= image_tag "pierre-resize.jpg", :class => "big-pierre" %>
      <h1 class = "lawyer-name">Pierre Sicco</h1>
    </div>
    <div class="col-lg-6 about-text">
      <div class="about-text-detail fade-in one">
        <h1>Experienced</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">With more than 15 years of experience practicing family law in the Etobicoke region, I understand the legal process and walk you through it with constant communication and compassion. I have represented hundreds of clients in their divorce and family law disputes, including numerous high net-worth divorces.</h3>
        <h1>Practices</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">I have done extensive work in #(insert field), #(insert field), and #(insert field), as well as #(insert field) and #(insert field). I've been at all levels of court, and it's my #(insert unique background) that gives me a different perspective on family law then most traditional lawyers.</h3>
        <h1>Achievements</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">Throughout my time as a family lawyer I have gotten awards such as #(insert award) and #(insert award). Probably explain some of the achievements here. I can even speak french! How cool is that, so if you need a french speaking lawyer in Etobicoke I can do it! </h3>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>
