<div class="container-fluid about-container">
  <div class="row about-row">
    <div class="col-lg-6 image-div">
      <%= image_tag "pierre-resize.jpg", :class => "big-pierre" %>
      <h1 class = "lawyer-name">Pierre Sicco</h1>
    </div>
    <div class="col-lg-6 about-text">
      <div class="about-text-detail fade-in one">
        <h1>Experienced</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">With over 22 years’ experience in family law in Etobicoke, Mississauga, west Toronto, I can assist you with your family law issues. I have helped hundreds of clients resolve simple and  complex issues, through negotiations, mediation, arbitration, or litigation including trials.</h3>
        <h1>Attention to Clients</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">Everyone faces different issues. Everyone has different goals. I listen very carefully to clients to understand their concerns and what they want. I can easily be reached by e-mail or phone and respond to e-mails or phone messages very quickly. In an emergency I can respond immediately (unless I am in a Courtroom of course). Clients are very quickly advsed of any developments on their files.</h3>
        <h1>Honest Advice</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">Understanding the applicable laws, principles and rules is essential for clients, whether during negotiations, mediation, arbitration, or litigation. I always strive to give clients clear legal advice and direction, throughout the entire process.</h3>
        <div class="about-text-last">
          <h1>Cost-effective Resolution</h1>
          <hr class="feature-divider-about">
          <h3 class="heading-description">I always strive to develop the most cost-effective approach towards resolving issues, always in consultation with clients.  I encourage client to save costs and to perform tasks that do not require the assistance of a lawyer or a law clerk.</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>
