<div class="container-fluid">
  <div class="row page-banner">
    <div class="col-xs-12 text-center">
      <h1 class="banner-text">About</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag "rsz_1pierre-resize.jpg", :class => "big-pierre" %>
    </div>
    <div class="col-xs-6 about-text">
      <div class="about-text-detail">
        <h1>Heading 1</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut dui ligula. Donec ultricies in odio bibendum dignissim. Ut efficitur nisi turpis. Donec ullamcorper feugiat justo. Aenean venenatis ante eu dolor pretium vestibulum. Nunc eget mattis lacus. Proin sed purus placerat, scelerisque mi eu, convallis tortor.</h3>
        <h1>Heading 2</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut dui ligula. Donec ultricies in odio bibendum dignissim. Ut efficitur nisi turpis. Donec ullamcorper feugiat justo. Aenean venenatis ante eu dolor pretium vestibulum. Nunc eget mattis lacus. Proin sed purus placerat, scelerisque mi eu, convallis tortor.</h3>
        <h1>Heading 3</h1>
        <hr class="feature-divider-about">
        <h3 class="heading-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut dui ligula.</h3>
      </div>
    </div>
  </div>
</div>
