// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.about-container {
  height: 100%;
}

div.row {
  height: 100%;
}

.image-div {
  position: relative;
  display: inline-block;
}

.big-pierre {
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}
div.about-text {
  height: 100%;
  background: #387780;
}
.about-text-detail {
  z-index: 1000;
  color: white;
  padding-top: 160px;
}

.feature-divider-about {
  margin-bottom: 1.8em;
  border-color: #595959;
}

.heading-description {
  margin-bottom: 50px !important;
}

.img-about {
  margin: auto;
  margin-bottom: 18px;
}
