// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-banner {
  background-color: #cfd11a;
  margin-top: 73px;
}

.banner-text {
  border-top: 6px solid #f2e9dc;
  border-bottom: 6px solid #f2e9dc;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-bottom: 20px;
}
 .about-text::before {
   content: "";
   top: 0;
   left: -80px;
   width: 200%;
   height: 120%;
   position: absolute;
   background: #f2e9dc;
   transform: skewX(15deg);
   display: block;
   z-index: -10;
 }

.big-pierre {
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}

.about-text-detail {
  z-index: 1000;
}

.feature-divider-about {
  margin-bottom: 1.8em;
  border-color: #595959;
}

.heading-description {
  margin-bottom: 50px !important;
}

.img-about {
  margin: auto;
  margin-bottom: 18px;
}

nav.navbar-fixed-top-about-index {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

nav.navbar.about-index {
  background-color: #595959;
  background: #595959;
  border-color: #595959;
}
