// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.about-row {
  height: inherit;
}

.lawyer-name {
  margin-left: auto;
  align-self: flex-end;
  order: 1;
  flex: 0 1 auto;
}

.feature-divider-about {
  margin-bottom: 1.8em;
  border-color: #595959;
}

h3.heading-description {
  margin-bottom: 50px;
  font-size: 20px;
}

.img-about {
  margin: auto;
  margin-bottom: 18px;
}

@media (max-width:1200px) {
  .entry-description {
    line-height: 1.5;
  }
}

@media (min-width:1200px) {

  div.about-text {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

  .about-text-detail {
    z-index: 1000;
    color: white;
  }

  div.about-text {
    background: -webkit-linear-gradient(left,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(56,119,128,0), rgba(56,119,128,0.8)); /*Standard*/
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100vh;
  }


  .row::before {
    content: "";
    top: 0;
    left: 38%;
    width: 53%;
    height: 100%;
    position: absolute;
    transform: skewX(15deg);
    display: block;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(56,119,128,0.8), rgba(56,119,128,0)); /*Standard*/
  }

  // html, body {
  //   height: 100%;
  //   width: 100%;
  //   margin: 0;
  //   overflow: hidden;
  // }

  .footer-text {
    color: #ced3dc;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .name-logo {
    display: none !important;
  }

  div.about-container {
    height: 100vh;
    overflow: hidden;
  }
}

@media (max-width:1200px) {

}

@media (min-width:760px) and (max-width:1200px) {

  // html, body {
  //   height: 100%;
  //   width: 100%;
  //   margin: 0;
  // }
  .image-div {
    text-align: center;
    margin-top: 15vh;
    .big-pierre {
      width: 25%;
    }
  }

  div.lawyer-name {
    display: block;
    padding-top: 40px;
  }

  div.about-text-detail {
    padding-top: 20px;
  }

  .nav.navbar-nav.navbar-right li a {
      margin-right: 0px !important;
      font-size: 18px;
  }

  .feature-divider-about {
    margin-bottom: 0;
  }

  h3.heading-description {
    margin-bottom: 20px;
  }

  .footer-text {
    color: #ced3dc;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .img-logo {
    display: none !important;
  }

  .about-text-last {
    display: none;
  }

}

@media (max-width: 759px) {
  // .big-pierre {
  //   display: block;
  //   max-width: 100%;
  //   height: auto;
  // }

  .image-div {
    text-align: center;
    margin-top: 15vh;
    .big-pierre {
      width: 100%;
    }
  }

  .about-text {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .img-logo {
    display: none !important;
  }

  .location-text {
    font-size: 18px !important;
  }

  .main-title {
    font-size: 35px !important;
  }

  .sub-title {
    font-size: 18px !important;
  }
}
