// Place all the styles related to the area_of_practice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.area-text {
  color: white;
  height: 100%;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(left,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(56,119,128,0), rgba(56,119,128,0.8)); /*Standard*/
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

div.container-area {
  height: 100%;
  width: 100%;
  padding: 0;
    background: url(office_photos/_MG_7719.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: transparent;
}

.option-2 {
  display: none;
}

.option-3 {
  display: none;
}

select.form-control {
  width: 30%;
  color: white;
  background-color: #51a7b3;
  border-color: #387760;
  font-size: 20px;
  height: 40px;
}
