
.nav.navbar-nav.navbar-right li a {
    color: white;
    margin-right: 15px;
}

.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-right li a:focus {
  border-bottom: solid #f5cb5c;
  padding-bottom: 7px;
}

nav.navbar-inverse .navbar-brand:hover,
nav.navbar-inverse .navbar-brand:focus {
  color: black;
}

#navbar-links {
  margin-right: 20px;
}
