
.nav.navbar-nav.navbar-right li a {
    color: black;
    background-color: #f2e9dc;
    margin-right: 15px;
    border-radius: 2px;
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.nav.navbar-nav.navbar-right li a:hover, .nav.navbar-nav.navbar-right li a:focus {
    background-color: #91c499;
    color: black;
}

nav.navbar-inverse .navbar-brand:hover,
nav.navbar-inverse .navbar-brand:focus {
  color: black;
}

#navbar-links {
  margin-right: 20px;
}

.info-footer {
  background-color: #999999;
}

.footer-nav {
  padding-top: 75px;
}

.footer-link, .footer-nav {
  color: black;
}
