// Place all the styles related to the Location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container-map {
  height: 100%;
  width: 100%;
  padding: 0;
  background: url(map.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: transparent;
}

div.map-row {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
}

@media (min-width:1200px) {
  .map-row::before {
    content: "";
    top: 0;
    left: 40%;
    width: 53%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(56,119,128,0.8), rgba(56,119,128,0)); /*Standard*/
    transform: skewX(15deg);
    display: block;
  }
}

@media (max-width: 759px) {

  div.container-map {
    background: none;
  }

  .testimonial-paragraph {
    font-size: 30px;
  }

  .testimonial-writer {
    font-size: 20px;
    font-weight: bold
  }

  div.home-footer-testimonial {
    width: 100%;
    background: black;
  }

  p.footer-text-testimonial {
    color: #ced3dc;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: white;
  }

  img.location-img {
    height: 100%;
  }
}
