// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container-testimonial {
  height: 100%;
  width: 100%;
  padding: 0;
  background: url(office_photos/_MG_7666.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: transparent;
}

div.vertical-center-row {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
}

.testimonial-text {
  color: white;
  width: auto;
  background: #387780;
  height: 100%;
  padding-right: 0;
  padding-top: 240px;
}

.testimonial-paragraph {
  font-size: 40px;
}
.testimonial-writer {
  font-size: 30px;
  font-weight: bold
}

.row::before {
  content: "";
  top: 0;
  left: 40%;
  width: 53%;
  height: 100%;
  position: absolute;
  background: #387780;
  transform: skewX(15deg);
  display: block;
}
