// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container-testimonial {
  height: 100%;
  width: 100%;
  padding: 0;
  background: url(office_photos/_MG_7666.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: transparent;
}

div.vertical-center-row {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
}

.testimonial-text {
  color: white;
  width: auto;
  height: 100%;
  padding-right: 0;
  background: -webkit-linear-gradient(left,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(56,119,128,0),rgba(56,119,128,0.8)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(56,119,128,0), rgba(56,119,128,0.8)); /*Standard*/
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.testimonial-paragraph {
  font-size: 40px;
}
.testimonial-writer {
  font-size: 30px;
  font-weight: bold
}

.row::before {
  content: "";
  top: 0;
  left: 40%;
  width: 53%;
  height: 100%;
  position: absolute;
  transform: skewX(15deg);
  display: block;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(56,119,128,0.8),rgba(56,119,128,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(56,119,128,0.8), rgba(56,119,128,0)); /*Standard*/
}
