
<div class="container-fluid container-testimonial">
  <div class="row vertical-center-row">
    <div class="col-lg-6 img-top-col">
      <%= image_tag "coffee-photo-test.jpg", :class => "img-top" %>
    </div>
    <div class="col-lg-6 testimonial-text">
      <div class="carousel-container">
        <% @testimonials.each do |t| %>
          <li>
            <div class="entry-container">
              <h1 class="entry-header"><%= t.title %></h1>
              <p class="entry-description"><%= t.description %></p>
            </div>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="home-footer-testimonial">
  <p class="footer-text-testimonial">
    ©Pierre Sicco.Disclaimer/Terms of Use | Sitemap | 5464 Dundas St. W., Suite 200 Etobicoke, ON | 416-231-6555 Ext: 241
  </p>
</div>

<script type="text/javascript">
$(function() {

  var $body = $(document);
  $body.bind('scroll', function() {
      // "Disable" the horizontal scroll.
      if ($body.scrollLeft() !== 0) {
          $body.scrollLeft(0);
      }
  });

});
</script>
